Source: ros-lunar-ar-track-alvar
Section: misc
Priority: extra
Maintainer: Scott Niekum <sniekum@cs.umass.edu>
Build-Depends: debhelper (>= 9.0.0), libtinyxml-dev, ros-lunar-ar-track-alvar-msgs, ros-lunar-catkin, ros-lunar-cmake-modules, ros-lunar-cv-bridge, ros-lunar-dynamic-reconfigure, ros-lunar-geometry-msgs, ros-lunar-image-transport, ros-lunar-message-generation, ros-lunar-pcl-conversions, ros-lunar-pcl-ros, ros-lunar-resource-retriever, ros-lunar-rosbag, ros-lunar-roscpp, ros-lunar-rospy, ros-lunar-rostest, ros-lunar-sensor-msgs, ros-lunar-std-msgs, ros-lunar-tf, ros-lunar-tf2, ros-lunar-visualization-msgs
Homepage: http://ros.org/wiki/ar_track_alvar
Standards-Version: 3.9.2

Package: ros-lunar-ar-track-alvar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libtinyxml-dev, ros-lunar-ar-track-alvar-msgs, ros-lunar-cv-bridge, ros-lunar-dynamic-reconfigure, ros-lunar-geometry-msgs, ros-lunar-image-transport, ros-lunar-message-runtime, ros-lunar-pcl-conversions, ros-lunar-pcl-ros, ros-lunar-resource-retriever, ros-lunar-roscpp, ros-lunar-rospy, ros-lunar-sensor-msgs, ros-lunar-std-msgs, ros-lunar-tf, ros-lunar-tf2, ros-lunar-visualization-msgs
Description: This package is a ROS wrapper for Alvar, an open source AR tag tracking library.
