Source: ros-kinetic-ar-track-alvar-metapkg
Section: misc
Priority: extra
Maintainer: Isaac I.Y. Saito <130s@2000.jukuin.keio.ac.jp>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://ros.org/wiki/ar_track_alvar
Standards-Version: 3.9.2

Package: ros-kinetic-ar-track-alvar-metapkg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-ar-track-alvar, ros-kinetic-ar-track-alvar-msgs
Description: Meta package for ROS ar_track_alvar related packages.
